body {
    padding: 0;
    margin: 0;
}
.excalidraw-widget {
    padding: 0;
    margin: 0;
    height: 500px;
}
.excalidraw-fullscreen {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh !important;
}
.excalidraw-wrapper {
    width: 100vw;
    height: 100vh;
}

.App-menu_top > :first-child .Stack.Stack_horizontal {
    display: none !important;
}

.App-bottom-bar .Stack.Stack_vertical > button {
    display: none !important;
}

.layer-ui__library-header {
    display: none !important;
}

kbd {
    color: var(--text-primary-color);
}

#widget {
  height: 400px;
  width: 100%;
  --shadow-island: 0px 0px .9310142993927002px 0px rgba(0, 0, 0, .17), 0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, .08), 0px 7px 14px 0px rgba(0, 0, 0, .05);
  --border-radius-lg: 8px;
}

#fullscreen {
  height: 100%;
  width: 100%;
  --shadow-island: 0px 0px .9310142993927002px 0px rgba(0, 0, 0, .17), 0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, .08), 0px 7px 14px 0px rgba(0, 0, 0, .05);
  --border-radius-lg: 8px;
}

.excalidraw-viewer,
.excalidraw-editor {
  height: 100%;
}

.App-toolbar-content,
.mobile-misc-tools-container {
  display: none !important;
}

#edit-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

#widget .button {
  border: none;
  z-index: 1000;
  background-color: var(--island-bg-color);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-lg);
  padding: 8px 14px;
}

#editor .excalidraw-viewer .App-toolbar-content {
  display: none !important;
}

#editor, .excalidraw {
  height: 100%;
  width: 100%;
}

.button {
  z-index: 1000;
  color: var(--button-color, var(--color-on-surface));
  background-color: var(--color-surface-low);
  border: none;
  border-radius: .5rem;
  padding: 4px 8px;
  cursor: pointer;
}
